body {

  background-color: #F8F8F8;

}

.top-bar {

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 50px;
}

#dateAndTime {

  text-align: center;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 20px;
}

#weatherCard {

  position: absolute;
  right: 0;
  top: 90px;
  margin-top: 20px;
  margin-right: 20px;
}

#weather {

  text-align: center;
  font-size: 40px;
  font-weight: bolder;
}

#city {

  text-align: center;
  font-size: larger;
  font-weight: bolder;
}

#kanyeQuote {

  text-align: center;
  margin: 0px 300px;
  overflow-wrap: break-word;
}

#kanyeSays {

  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

h1 {

  font-weight:bold;
}

.toDo {

  margin: 20px;
  text-align: center;
}

#input {
  width: 100%;
  display: none;
  outline: none;
  height: 50px;
  font-size: 14px;
  padding-left: 20px ;
  box-sizing: border-box;
  margin-top: 20px;
}

.row{
  width: 400px;
  height: auto;
  background-color: white;
  border: 1px solid #999;
  margin: auto;
  text-align: center;
  line-height: 40px;
}

.fa-caret-down {
  float:right;
  padding: 8px;
}

.done {
  text-decoration: line-through;
  color: #aaa;
}

span .fa-trash-alt {
  background-color: white;
  height: 40px;
  line-height: 40px;
  width: 0px;
  color:red;
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  text-align: left;
  opacity: 0;
}

li:hover span .fa-trash-alt {
  
  width: 20px;
  opacity: 1;
}

li {
  list-style-type: none;
  background-color: white;
  color: #555;
  text-align: left;
}
.completeItem{
  float:right;
  margin-right:40px;
  margin-top:10px;
}

h3 {
  background-color:teal;
  color: white;
  padding: 6px;
  margin: 0;
}

#holidayContainer {

  text-align: center;
  margin-top: 200px;
}

#holidayTitle {

  font-weight: bold;
  font-size: 25px;
}
