.wrapper{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 100px;
  grid-gap: 0.5rem;
}

#dateAndTime {
  grid-column: 1/3;
  grid-row: span 1;
  margin-top: 5px;
  margin-left: 20px;
  font-weight: bold;
  font-size: 30px;
}

#weatherCard {
  grid-column: 11/13;
  grid-row: span 1;
}

#weather {
  font-size: 30px;
}

.Kanye{
  grid-column: span 12;
  grid-row: auto;
  overflow-wrap: break-word;
  text-align: center;
  padding: 25px;
}

.toDo {
  grid-column: 3/11;
  grid-row: span 3;
  margin-left: 5px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

#input {
  width: 100%;
  display: none;
  outline: none;
  height: 40px;
  font-size: 16px;
  padding-left: 20px ;
  box-sizing: border-box;
  margin-top: 20px;
}

.row{
  width: 400px;
  height: auto;
  background-color: white;
  margin: auto;
  text-align: center;
  line-height: 40px;
  border-radius: 10px;
  border-style: none!important;
}

.fa-caret-down {
  float:right;
  padding: 8px;
  padding-right: 30px;
}

.done {
  text-decoration: line-through;
  color: #aaa;
}

span .fa-trash-alt {
  background-color: white;
  height: 40px;
  line-height: 40px;
  width: 0px;
  color:red;
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  text-align: left;
  opacity: 0;
}

li:hover span .fa-trash-alt {
  width: 20px;
  opacity: 1;
}

li {
  list-style-type: none;
  background-color: white;
  color: #555;
  text-align: left;
  overflow-wrap: break-word;
}

.completeItem{
  float:right;
  margin-right:15px;
  margin-top:10px;
}

h3 {
  background-color:teal;
  color: white;
  border-radius: 10px;
  padding-top: 5px;
  margin: 0;
  height: 50px;
}

#holidayContainer {
  grid-column: span 12;
  grid-row: span 1;
  text-align: center;
  margin-top: 60px;
  color: black;
  font-size: 60px;
}

#holidayTitle {
  font-weight: bold;
  font-size: 25px;
}

@media (max-width: 768px){
  .wrapper{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 100px;
    grid-gap: 0.5rem;
  }

  #dateAndTime {
    grid-column: 1/6;
    grid-row: span 1;
    margin-top: 5px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 30px;
  }
  
  /* .toDo {
    grid-column: span 12;
    grid-row: 3/4;
    padding: 20px;
    text-align: center;
  } */

  .pTag{
    font-size: 16px;
  }

  #weatherCard {
    grid-column: 7/12;  
    /* right: 0;
    top: 90px; */
    /* margin-top: 5px;
    margin-right: 20px; */
    /* background: rgba (0, 128 , 128, .70); */
  }

  #holidayContainer {
    grid-column: span 12;
    grid-row:6 ;
    text-align: center;
    color: white;
  }

}

@media (max-width: 400px){

  .wrapper{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 100px;
    grid-gap: 0.5rem;
  }

  #dateAndTime {
    grid-column: span 4;
    /* grid-column: span 12;
    grid-row: span 1;
  
    left: 0;
    top: 90px;
    margin-top: 5px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 30px; */
  }

  .toDo {
    grid-column: span 8;
    grid-row: span 4;
    padding: 10px;
  
    text-align: center; 
  }
}

#newCard {
  margin-top: 90px;
  background-color: rgba(255, 255, 255, 0.253);
  opacity: 0.8;
  position: absolute;
  top: 0;
  right: 0;
  padding-bottom: 10px;
  text-align: center;
  margin-right: 20px;
}

#newCard:hover {
  transition: 1s;
  background-color: rgba(255, 255, 255, 0.253);
  opacity: 1.0;
}

